#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.bubble-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.bubble {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 2px solid black;
  cursor: pointer;

  &:hover {
    outline: 2px solid silver;
  }
}

.self {
  border-color: blue;
}
